# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
compile_commands.json

# Binary Files
*.o
*.d
*.iso
*.elf

# Build files
build-*
.gdb_history
